<%- include('./layout/header.ejs') %> 
  <br><br><br>
<div class="container">

   <!-- Jumbotron Header -->
   <header class="jumbotron my-3 text-center" id="header" style="background: #dbe1e2;">
    <h1 class="display-3 lead-1">A Warm Welcome!</h1>
    <p class="lead-2">A warm welcome and lots of good wishes on becoming part of our growing team. Congratulations and on behalf of all the members. We are all happy and excited about your inputs and contribution to our Network.</p>
    <!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
  </header>
</div>

<div id="portfolio-wrapper">
    <div class="container">
      <div class="row text-center">
        <% posts.forEach(post => { %>
          <div class="col-12">
            <div class="card h-100">
              <!-- <a href="/<%= post.path %>" title="Add Description"> -->
              <div class="card-body">
                <h2><%= post.title %></h2>
                <p class="card-title text-black" style="text-decoration: none;"><%= post.description %></p>
                <p class="card-text">published: <%= new Date(Number(post.publishDate)).getDate() %>/<%= new Date(Number(post.publishDate)).getDay() %>/<%= new Date(Number(post.publishDate)).getFullYear() %></p>
              </div>
              
              </a>
              <div class="card-footer">
                <a href="/individual/<%=post.id %>" class="btn btn-info"  color: #fff;">View</a>  
              </div>
            
            </div>
          </div>
        <% }) %> 
      </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %> 














